<ion-header>
    <ion-toolbar>
        <ion-buttons slot="secondary">
            <ion-button (click)="nagBackOn()" color="primary">
                <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>搜索</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-item>
            <ion-input [(ngModel)]="name" placeholder="请输入名称" slot="start"></ion-input>

            <ion-button (click)="getThemeRqt()" color="undefined" slot="end">
                <ion-icon color="primary" name="search" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-item>
    </ion-card>



</ion-content>
