<p align="center" style="font-size: larger">
    记录
    <ion-label color="primary"> {{tag.name}}</ion-label>
</p>

<!--<ion-item detail="true" lines="null">-->
<!--    <ion-label>发生时间</ion-label>-->
<!--    <ion-datetime [(ngModel)]="selTime" cancelText="取消" displayFormat="HH:mm:ss" doneText="确定"></ion-datetime>-->
<!--</ion-item>-->

<ion-content>
    <ion-item color="light" detail="true" lines="null">
        <ion-label>发生时间</ion-label>
        <ion-datetime [(ngModel)]="selTime" cancelText="取消" displayFormat="HH:mm:ss" doneText="确定"></ion-datetime>
    </ion-item>

    <ion-list *ngFor="let prop of tag.propList;let i = index" lines="full">
        <ion-item color="secondary">
            <ion-label>{{propTitleText(i, prop)}}</ion-label>
        </ion-item>

        <ion-item>
            <ion-input *ngIf="dataTypeInput(prop.dataType)===1" [(ngModel)]="prop.dataValue"
                       [placeholder]="propPlaceholderText(i,prop)"></ion-input>
            <ion-textarea *ngIf="dataTypeInput(prop.dataType)===2" [(ngModel)]="prop.dataValue"
                          [placeholder]="propPlaceholderText(i,prop)"></ion-textarea>
        </ion-item>
    </ion-list>
</ion-content>

<div style="text-align: center;margin-bottom: 20px;margin-top: 30px">
    <ion-button (click)="cancelOn()" color="medium" style="width: 40%;padding-right: 4%">取消</ion-button>
    <ion-button (click)="saveOn()" color="primary" style="width: 40%;padding-left: 4%">保存</ion-button>
</div>

