<ion-header>
    <ion-toolbar>
        <ion-buttons slot="secondary">
            <ion-button color="primary" (click)="nagBackOn()">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="primary">
            <ion-button color="primary" (click)="nagBackOn()">
                统计
            </ion-button>
        </ion-buttons>
        <ion-title>记录管理</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
