<ion-header>
    <ion-toolbar>
        <ion-title>
            记录列表
        </ion-title>

    </ion-toolbar>

    <ion-item color="warning">
        <ion-label>日期</ion-label>
        <ion-datetime displayFormat="YYYY-MM-DD" min="1000-01-01" max="3000-12-31"
                      value="2002-09-23T15:03:46.789"></ion-datetime>
    </ion-item>
</ion-header>

<ion-content>
    <ion-refresher #ionRefresher slot="fixed" (ionRefresh)="doRefresh()">
        <ion-refresher-content
                pullingIcon="arrow-dropdown"
                pullingText="下拉刷新"
                refreshingSpinner="circles"
                refreshingText="刷新中...">
        </ion-refresher-content>
    </ion-refresher>

    <ion-list lines="none">
        <ion-item-group *ngFor="let item of list">
            <ion-item-divider color="primary">
                <ion-label>{{timeStr(item.dateTime)}}</ion-label>
                <ion-note color="light">{{item.name}}</ion-note>
            </ion-item-divider>

            <ion-item *ngFor="let prop of item.propDataList">
                <ion-label>{{prop.prop.name}}</ion-label>
                <ion-label *ngIf="prop.hasData==false">-</ion-label>

                <ion-label
                        *ngIf="prop.hasData==true">{{propValue(prop)}}</ion-label>
            </ion-item>
        </ion-item-group>
    </ion-list>

    <!-- Fixed Floating Action Button that does not scroll with the content -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="warning" (click)="addTag()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>
