<ion-header style="margin-bottom: 0px" mode="ios">
    <ion-toolbar>
        <ion-buttons slot="secondary">
            <ion-button color="primary" (click)="mgThemeOn()">
                管理
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="primary">
            <ion-button color="primary" (click)="statisticsThemeOn()">
                统计
            </ion-button>
        </ion-buttons>
        <ion-title>
            记录列表

            <!--            <ion-select interface="alert" cancelText="取消" okText="确定"-->
            <!--                        (ionChange)="themeChange($event)">-->
            <!--                <ion-select-option value="-1" selected>-->
            <!--                    全部-->
            <!--                </ion-select-option>-->
            <!--                <ion-select-option *ngFor="let item of themeList;let i = index" value="{{i}}">-->
            <!--                    {{item.name}}-->
            <!--                </ion-select-option>-->
            <!--            </ion-select>-->
        </ion-title>
    </ion-toolbar>

    <div style="display: flex">
        <ion-item lines="none" style="width: 50%">
            <ion-icon name="bookmarks"></ion-icon>
            <ion-select style="display: contents" interface="alert" cancelText="取消" okText="确定"
                        (ionChange)="themeChange($event)">
                <ion-select-option value="-1" selected>
                    全部
                </ion-select-option>
                <ion-select-option *ngFor="let item of themeList;let i = index" value="{{i}}">
                    {{item.name}}
                </ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item detail="true" lines="none" style="width: 50%">
            <ion-icon name="calendar"></ion-icon>
            <ion-datetime displayFormat="YYYY-MM-DD" min="2000-01-01" max="2100-12-31" cancelText="取消" doneText="确定"
                          [(ngModel)]="selDateTime" (ionChange)="dateTimeChange($event)"></ion-datetime>
        </ion-item>
    </div>
    <div style="height: 1px;background:aliceblue"></div>
</ion-header>

<ion-content>
    <ion-refresher #ionRefresher slot="fixed" (ionRefresh)="doRefresh()">
        <ion-refresher-content
                pullingIcon="arrow-dropdown"
                pullingText="下拉刷新"
                refreshingSpinner="circles"
                refreshingText="刷新中...">
        </ion-refresher-content>
    </ion-refresher>

    <ion-list lines="full">
        <ion-item-group *ngFor="let item of list">
            <ion-item-divider color="medium">
                <ion-label>{{this.dateUtils.timeStr(item.dateTime)}}</ion-label>
                <ion-label>{{item.theme.name}}</ion-label>
                <ion-label slot="end">[{{item.name}}]</ion-label>
            </ion-item-divider>

            <ion-item-sliding #ionSlide *ngFor="let prop of item.propDataList">
                <ion-item>
                    <ion-label>{{prop.prop.name}}</ion-label>
                    <ion-label *ngIf="prop.hasData==false">-</ion-label>
                    <ion-label *ngIf="prop.hasData==true">{{propText(prop)}}</ion-label>
                </ion-item>
                <ion-item-options>
                    <ion-item-option color="danger" (click)="deleteTagOn(item,ionSlide)">
                        <ion-icon slot="end" name="close"></ion-icon>
                        删除
                    </ion-item-option>
                </ion-item-options>
            </ion-item-sliding>

        </ion-item-group>

        <!--        <ion-item-group *ngFor="let item of list">-->
        <!--            <ion-item-divider color="primary">-->
        <!--                <ion-label>{{this.dateUtils.timeStr(item.dateTime)}}</ion-label>-->
        <!--                <ion-label color="light">{{item.theme.name}}</ion-label>-->
        <!--                <ion-label color="light">[{{item.name}}]</ion-label>-->
        <!--            </ion-item-divider>-->

        <!--            <ion-item *ngFor="let prop of item.propDataList">-->
        <!--                <ion-label>{{prop.prop.name}}</ion-label>-->
        <!--                <ion-label *ngIf="prop.hasData==false">-</ion-label>-->

        <!--                <ion-label-->
        <!--                        *ngIf="prop.hasData==true">{{propText(prop)}}</ion-label>-->
        <!--            </ion-item>-->
        <!--        </ion-item-group>-->
    </ion-list>

    <!-- Fixed Floating Action Button that does not scroll with the content -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="warning" (click)="addTagOn()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>
