<!--<ion-header>-->
<!--    <ion-toolbar>-->
<!--        <ion-title>login</ion-title>-->
<!--    </ion-toolbar>-->
<!--</ion-header>-->

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title align="center" margin-bottom="40px">YUN</ion-card-title>

            <ion-card-subtitle align="center">记录</ion-card-subtitle>
        </ion-card-header>
    </ion-card>

    <form (ngSubmit)="loginRqt(loginForm.value)" [formGroup]="loginForm" novalidate>
        <ion-row>
            <ion-col>
                <ion-list class="no-border" inset>
                    <ion-item [class.error]="!username.valid && username.touched">
                        <ion-label position="floating">帐号
                            <ion-text color="danger">*</ion-text>
                        </ion-label>
                        <ion-input [formControl]="username" clearInput=true type="text"></ion-input>
                    </ion-item>
                    <div *ngIf="username.hasError('required') && username.touched" class="error-message">*请输入用户名</div>
                    <!--                    <div *ngIf="(username.hasError('minlength')||username.hasError('maxlength')||username.hasError('pattern')) && username.touched" class="error-message">*请输入正确的电话号码</div>-->

                    <ion-item>
                        <ion-label position="floating">密码
                            <ion-text color="danger">*</ion-text>
                        </ion-label>
                        <ion-input [formControl]="password" clearInput=true type="password"></ion-input>
                    </ion-item>
                    <!--                    <div *ngIf="password.hasError('required') && password.touched" class="error-message">*请输入密码</div>-->
                    <!--                    <div *ngIf="(password.hasError('minlength')) && password.touched" class="error-message">*密码长度最少为六位</div>-->

                </ion-list>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <div class="ion-padding">
                    <ion-button [disabled]="!loginForm.valid" class="ion-no-margin" expand="block" type="submit">登 录
                    </ion-button>
                </div>
            </ion-col>
        </ion-row>
    </form>

    <div class="ion-padding">
        <ion-button (click)="gotoRegister()" class="ion-no-margin" expand="block" type="submit">注 册</ion-button>
    </div>

    <!--    <div class="ion-padding">-->
    <!--        <ion-button expand="block" type="submit" class="ion-no-margin" href="/login/register">注 册2</ion-button>-->
    <!--    </div>-->

</ion-content>
