.test-pp {
  width: 800px;
  max-width: 800px;
  --width: 800px;
  --max-width: 800px;
  --background: #3880ff;
  background: #3880ff;
}

test-pp {
  width: 800px;
  max-width: 800px;
  --width: 800px;
  --max-width: 800px;
  --background: #3880ff;
  background: #3880ff;
}
