<ion-header mode="ios" style="margin-bottom: 0px">
    <ion-toolbar>
        <ion-buttons hidden="true" slot="secondary">
            <ion-button (click)="mgThemeOn()" color="primary">
                管理
            </ion-button>
        </ion-buttons>
        <ion-buttons hidden="true" slot="primary">
            <ion-button (click)="updateAllChapter()" color="primary">
                刷新
            </ion-button>
        </ion-buttons>
        <ion-title>
            我的书屋
        </ion-title>
    </ion-toolbar>

    <div style="height: 1px;background:aliceblue"></div>
</ion-header>

<ion-content>
    <ion-refresher #ionRefresher (ionRefresh)="doRefresh()" slot="fixed">
        <ion-refresher-content
                pullingIcon="arrow-dropdown"
                pullingText="下拉刷新"
                refreshingSpinner="circles"
                refreshingText="刷新中...">
        </ion-refresher-content>
    </ion-refresher>

    <ion-list lines="full">
        <ion-item-group *ngFor="let item of list">
            <ion-item-sliding #ionSlide>
                <ion-item (click)="itemOn(item)">
                    <ion-label class="ion-text-wrap">
                        <ion-text color="primary">
                            <h1>{{item.name}}</h1>
                        </ion-text>
                        <ion-text color="medium">
                            <p>最新：{{item.lastChapter}}</p>
                        </ion-text>
                        <ion-text *ngIf="item.newChapter" color="danger">
                            <p>有更新</p>
                        </ion-text>
                    </ion-label>
                </ion-item>

                <ion-item-options>
                    <ion-item-option (click)="deleteOn(item,ionSlide)" color="danger">
                        <ion-icon name="close" slot="end"></ion-icon>
                        删除
                    </ion-item-option>
                </ion-item-options>
            </ion-item-sliding>

        </ion-item-group>
    </ion-list>

    <ion-fab horizontal="end" slot="fixed" vertical="bottom">
        <ion-fab-button (click)="addOn()" color="primary">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>
