<ion-header>
    <ion-toolbar>
        <ion-buttons slot="secondary">
            <ion-button (click)="nagBackOn()" color="primary">
                <ion-icon name="home" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-buttons slot="primary">
            <ion-button (click)="chapterOn()" color="primary">
                <ion-icon name="list" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title>{{data.name}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher #ionRefresher (ionRefresh)="doRefresh()" slot="fixed">
        <ion-refresher-content
                pullingIcon="arrow-dropdown"
                pullingText="下拉刷新"
                refreshingSpinner="circles"
                refreshingText="刷新中...">
        </ion-refresher-content>
    </ion-refresher>

    <ion-card>
        <ion-textarea readonly="true" style="padding-left: 4%;padding-right: 4%; font-size: 16pt">
            {{data.content}}
        </ion-textarea>
    </ion-card>

    <ion-fab *ngIf="data.preId!=null" horizontal="start" slot="fixed" vertical="bottom">
        <ion-fab-button (click)="preChapter()" color="medium">
            <ion-icon name="arrow-back"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-fab *ngIf="data.nextId!=null" horizontal="end" slot="fixed" vertical="bottom">
        <ion-fab-button (click)="nexChapter()" color="secondary">
            <ion-icon name="arrow-forward"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>
