<ion-header>
    <ion-toolbar>
        <ion-buttons slot="secondary">
            <ion-button (click)="nagBackOn()" color="primary">
                <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
        <!--        <ion-buttons slot="primary">-->
        <!--            <ion-button color="primary" (click)="addTagOn()">-->
        <!--                <ion-icon slot="icon-only" name="add"></ion-icon>-->
        <!--            </ion-button>-->
        <!--        </ion-buttons>-->
        <ion-title>搜索</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-item>
            <ion-input [(ngModel)]="name" placeholder="请输入名称" slot="start"></ion-input>

            <ion-button (click)="getThemeRqt()" color="undefined" slot="end">
                <ion-icon color="primary" name="search" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-item>
    </ion-card>

    <ion-list lines="full">
        <ion-item-group *ngFor="let item of list">
            <ion-item-divider>
                <ion-text color="primary" slot="start">
                    <h1>{{item.name}}</h1>
                </ion-text>

                <ion-button (click)="addItem(item)" color="undefined" slot="end">
                    <ion-icon color="secondary" name="add" slot="icon-only"></ion-icon>
                </ion-button>
            </ion-item-divider>

            <ion-item>
                <ion-label> 作者：{{item.author}}</ion-label>
            </ion-item>

            <ion-item>
                <ion-textarea>{{item.remark}}</ion-textarea>
            </ion-item>

            <ion-item>
                <ion-label>最新：{{item.lastChapter}}</ion-label>
            </ion-item>
            <ion-item>
                <ion-label>状态：{{item.bookStatus}}</ion-label>
            </ion-item>
        </ion-item-group>
    </ion-list>

</ion-content>
